<div class="app">
  <header class="bg-white border-bottom box-shadow mb-3">
    <div class="brand">
      <img src="assets/img/logo.png">
    </div>
    <div class="name">Admin System</div>
    <div class="functions">
      <button id="logout" class="btn btn-primary">
        <i class="fas fa-sign-out-alt"></i>Logout</button>
    </div>
  </header>home
  <nav>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a id="menuHome" class="nav-link" routerLink="/home" routerLinkActive="active">
          <i class="fas fa-home"></i>Home</a>
      </li>
      <li class="nav-item">
        <a id="menuEmployee" class="nav-link" routerLink="/employee" routerLinkActive="active">
          <i class="fas fa-flag"></i>Employee</a>
      </li>
      <li class="nav-item">
      <a id="menuNotiDepartment" class="nav-link" routerLink="/department" routerLinkActive="active">
        <i class="fas fa-flag"></i>Department</a>
      </li>
    </ul>
  </nav>
  <main role="main">
    <router-outlet></router-outlet>
  </main>
</div>