<div class="app">
  <header class="bg-white border-bottom box-shadow mb-3">
    <div class="brand">
      <img src="assets/img/logo.png">
    </div>
    <div class="name">Admin System</div>
    <div class="functions">
      <a role="button" class="btn btn-primary" routerLink="/login" routerLinkActive="active">Login</a>
      <a role="button" class="btn btn-primary" style="margin-left:1em" routerLink="/register" routerLinkActive="active">Register</a>
    </div>
  </header>home
  <nav>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a id="menuHome" class="nav-link" routerLink="/home" routerLinkActive="active">
          <i class="fas fa-home"></i>Home</a>
      </li>
      <li class="nav-item">
        <a id="menuEmployee" class="nav-link" routerLink="/employee" routerLinkActive="active">
          <i class="fas fa-flag"></i>Employee</a>
      </li>
      <li class="nav-item">
      <a id="menuNotiDepartment" class="nav-link" routerLink="/department" routerLinkActive="active">
        <i class="fas fa-flag"></i>Department</a>
      </li>
      <li class="nav-item">
        <a id="menuNotiPetition" class="nav-link" routerLink="/petitions" routerLinkActive="active">
          <i class="fas fa-flag"></i>Petitions</a>
        </li>
        <li class="nav-item">
          <a id="menuNoticategory" class="nav-link" routerLink="/category" routerLinkActive="active">
            <i class="fas fa-flag"></i>Category</a>
          </li>
    </ul>
  </nav>
  <main role="main">
    <router-outlet></router-outlet>
  </main>
</div>