$color-navy: rgb(34, 72, 85);
$color-teal: rgb(67, 188, 156);
$color-yellow: rgb(225, 209, 33);
$color-grey: rgb(242, 242, 242);
$color-pastel-green: rgb(185, 227, 198);
$color-blue: rgb(73, 147, 173);
$color-dark-grey: rgb(143, 148, 145);
$color-orange: rgb(255, 111, 89);
$color-danger: rgb(211, 47, 47);
$color-white: rgb(243, 243, 244);
$warning: rgb(184, 15, 15);

$primary-grey: rgb(242, 242, 242);

$body-bg: $color-grey;
$theme-colors: ( 'primary': $color-teal, 'secondary': $color-navy, );
$spacer: 1rem;
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
$color-erms-green: #43bc9c;
